.link {
  color: black;
  font-size: 25px;
  text-decoration: none;
  list-style-type: none;
  text-decoration: none;
}
.isActive {
  color: rgb(17, 17, 151);
  border-bottom: 2px solid rgb(17, 17, 151);
}
.navigation {
  display: inline-flex;
  flex-direction: row;
  gap: 25px;
}

.navContainer {
  background-color: rgb(226, 226, 226);
}
