:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #acaaaa;
  font-size: 17px;
}

p {
  margin: 0;
}
a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: rgb(29, 29, 199);
}

body {
  margin: 0, auto;
}

h1 {
  font-size: 3.2em;
}

button {
  border-radius: 8px;
  border: 1px solid black;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #06094e;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
ul {
  list-style-type: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ececec;
  }
  a:hover {
    color: rgb(29, 29, 199);
  }
  button {
    background-color: #f9f9f9;
  }
}
